<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TonChe_Operation_Cneter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TonChe_Operation_Center.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <TonChe_Operation_Cneter.Properties.Settings>
            <setting name="WebVersion" serializeAs="String">
                <value>Y</value>
            </setting>
            <setting name="WebPicture" serializeAs="String">
                <value>http://114.33.130.81/TC_DATA/Picture/</value>
            </setting>
            <setting name="WebDesignForm" serializeAs="String">
                <value>G:\Tonche\織物分析圖_SYS\</value>
            </setting>
            <setting name="SaveFile" serializeAs="String">
                <value>C:\TonChe\</value>
            </setting>
            <setting name="LocalPicture" serializeAs="String">
                <value>D:\Tonche_System_data\Picture\</value>
            </setting>
            <setting name="LocalDesignForm" serializeAs="String">
                <value>G:\Tonche\織物分析圖_SYS\</value>
            </setting>
        </TonChe_Operation_Cneter.Properties.Settings>
        <TonChe_Operation_Center.Properties.Settings>
            <setting name="WebVersion" serializeAs="String">
                <value>Y</value>
            </setting>
            <setting name="WebPicture" serializeAs="String">
                <value>http://114.33.130.81/TC_DATA/Picture/</value>
            </setting>
            <setting name="WebDesignForm" serializeAs="String">
                <value>G:\Tonche\織物分析圖_SYS\</value>
            </setting>
            <setting name="SaveFile" serializeAs="String">
                <value>C:\TonChe\</value>
            </setting>
            <setting name="LocalPicture" serializeAs="String">
                <value>G:\TonChe_System\TonChe_System\TonChe_System\Picture\</value>
            </setting>
            <setting name="LocalDesignForm" serializeAs="String">
                <value>G:\Tonche\織物分析圖_SYS\</value>
            </setting>
        </TonChe_Operation_Center.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
